html
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Let Me See
    link(href='css/bootstrap.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='#') Let Me See
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href='#') Home
              li
                a(href='#about') About
              li
                a(href='#contact') Contact
          //
            /.nav-collapse 
    br
    br
    br
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav(style='height: 400px;')
            #chatbox(style='height: 360px; overflow-y: auto;')
              ul#broadcast-msg.nav.nav-list
                li.nav-header Chat Area
            label(for='msg-input') Broadcast message
            input#msg-input(name='msg-input', type='text', size='30')
          //
            /.well 
        //
          /span
        .span9
          textarea#board.hero-unit(style='height: 435px; width: 925px;')
        //
          /span
      //
        /row
      hr
      footer
        p © Company 2013
    br
    br
    br
    //
       Include the socket.io javascript on the client side 
    script(src='socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='js/bootstrap.min.js')
    script
      // Establish the connection with the server
      var socket = io.connect('http://192.168.1.114:3000');
      // on every message recived we print the new datas inside the #broadcast-msg div
      socket.on('broadcast_msg', function (data) {
      console.log('Get broadcasted msg:', data);
      var msg = '<li>' + data + '</li>';
      $('#broadcast-msg').append(msg);
      $("#chatbox").scrollTop($("#broadcast-msg").height());
      });
      socket.on('write_on_board', function (txt) {
      $("#board").val(txt);
      });
      // Create a new socket connection
      socket.on('connect', function() {
      socket.emit('set nickname', prompt('What is your nickname?'));
      $('#msg-input').change( function(){
      if ($(this).val() == '') return;
      var txt = $(this).val();
      $(this).val('');
      socket.emit('emit_msg', txt, function (data){
      console.log('Emit Broadcast msg', data);
      });
      });
      $("#board").keyup( function(){
      socket.emit('board_changed', $("#board").val());
      });
      });
